.list-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.list-inline {
    margin-left: 0;
}

.journal .column-number {
    min-width: 30px;
    max-width: 35px;
    width: auto;
}

.journal .column-name {
    min-width: 100px;
    max-width: 120px;
    width: auto;
}

.journal .oc {
    min-width: 20px;
    max-width: 90px;
    width: auto;
}

.journal-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.journal {
    min-width: 100%;
}

.tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}

.submenu li a {
    padding-left: 15px;
}

.error-summary {
    color: #a94442;
}

.nav-tabs > li.active > a.tab-error,
.nav-tabs > li > a.tab-error {
    color: #a94442;
    background-color: #f2dede;
}

.form-template {
    display: none;
}
#select2-group-speciality_qualifications_id-results .select2-results__option .select2-results__option,
#select2-workplan-speciality_qualification_id-results .select2-results__option .select2-results__option,
#select2-studyplan-speciality_qualification_id-results .select2-results__option .select2-results__option {
    padding-left: 35px;
}

.m1{
    margin: 1%;
}
.m2{
    margin: 2%;
}
.m3{
    margin: 3%;
}
.m4{
    margin: 4%;
}
.m5{
    margin: 5%;
}

.p1{
    padding: 1%;
}
.p2{
    padding: 2%;
}
.p3{
    padding: 3%;
}
.p4{
    padding: 4%;
}
.p5{
    padding: 5%;
}